<div class="container">
<button type="button" class="btn btn-primary" (click)="showModal=true" data-toggle="modal" data-target="#exampleModal">
  Novo Valor Domínio
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" [ngClass]="{'show': showModal}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Valor</h5>
        <button type="button" class="close" (click)="showModal=false" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label>Valor</label>
            <input  class="form-control" placeholder="Preencha aqui a descrição do domínio" [(ngModel)]="request.nome">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal=false" data-dismiss="modal">Close</button>
        <button (click)="salvarValor()" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>