<app-create-dominio></app-create-dominio>

<main role="main">
  <section class="my-4">
    <div class="container">
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="table-responsive">
        <table *ngIf="responseDominio" class="table table-bordered table-hover">
          <thead class="thead-light text-center">
            <tr>
  
              <th class="text-left" > Código</th>
              <th class="text-left" >Valor</th>
              <th class="text-center">Editar</th>
              <th class="text-center">Excluir</th>
              
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let dominio of responseDominio">
              <td class="text-center w-10">{{dominio.codigo}}</td>
            <!--  <td><a routerLink="/listavalores/{{dominio.codigoDominio}}">Editar</a></td>-->
           <a [routerLink]="['/listavalores', dominio.codigo]"><td class="text-left w-10 table-responsive" >{{dominio.nomeLogico}}</td> </a>
           <td class="text-center"><button type="button" class="btn btn-primary">Editar</button></td> 
           <td class="text-center"><button type="button" class="btn btn-danger" >Excluir</button></td> 
          </tr>
          </tbody>
        </table>
        <nav aria-label="Navegação de página exemplo">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Próximo</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</main>